@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
ul{
    display: grid;
    grid-template-rows: repeat(9,15%);
    list-style: none;
    padding: 0;
    
}
ul>* , h1{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 30px;
    justify-self: start;
    padding-left: 20px;
    transition: .4s;
}
ul>*:hover{
    transform: scale(1.1);
}
h1{
    font-size: 30px;
    letter-spacing: 1.5px;
    margin-top: 30px;
    margin-bottom: 30px;    
}
li svg{
    height: 30px;
    fill: white;
    padding-right: 20px;
}

.search{
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    background-color: #e9ebf3;
    background-image: url(assets/loop.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 20px;
    transition: width .3s ease-in-out;

}
.search:focus,input:focus-within:not(:focus){
    width: 500px;
    border-radius: 20px;
    background-image: none;
    padding-left: 20px;

}


.page{
    height: 100vh;
    display: grid;
    grid-template-columns:20% 80% ;
    color: white;  
}
aside{
    display: grid;
    grid-template-rows: 10% 45%;        
    background-color: #2cace7;
    font-weight: bold;
    font-size: 20px;
    
    
} 
nav{
    display: flex;
    justify-content:space-between;
    position: relative;
    align-items: center;
}
nav .acc{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 250px;
    border-radius: 50%;

}
nav .bell{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 350px;
}
nav p {
    color: black;
    position: absolute;
    right: 60px;
    font-size: 20px;
    font-weight:bolder;

}


.searchBar{
    border-radius: 30px;
    height: 32px;
    width: 40%;
    margin-left: 25px;
    margin-top: 20px;
}    
header{
    display: flex;
    flex-direction: column;
    height:200px;
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header img{
    margin-left:40px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
header .buttons div{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: #2cace7;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 10px;
}
.picText{
    display: flex;
    justify-content: space-between;
    width: 350px;
    color: black;
}
.picText p{
    margin-left: 30px;
    font-weight: bolder;
}


.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 10% repeat(3,1fr);
    width: 70%;
    height: 70%;
    gap: 10px;
    
    
}
.title{
    color: black;
    grid-column: 1/3;
    font-size: 22px;
    font-weight: bolder;
    align-self: flex-end;   
    margin-left: 50px;
}
.content div{
    padding: 20px;
    font-size: 18px;
    background-color: white;
    margin-left: 50px;
    border-radius: 10px;
    border-left: 10px solid #ffa500;
    color: black;
    margin-bottom: 20px;
}
.content div span{
    color: orange;
}
.container{
    display: flex;
    height: 1080px;
    background-color: #e9ebf3;
}
.annoucement{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 500px;
    color: black;
    position: relative;
}
.ann,.trend{
    height: 100%;
    width: 90%;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    
}
#a{
    margin-left: 40px;
    height: 40%;
    width: 100%;
    font-weight: bolder;
    font-size: 22px;
    top: 80px;
    position: absolute;
}
#t{
    margin-left: 40px;
    height: 40%;
    width: 100%;
    font-size: 22px;
    font-weight: bolder;
    top: 590px;
    position: absolute;
}
h3{
    font-size: 22px;
    padding: 10px;
}
.ann p {
    font-size: 17px;
    font-weight: 100;
    padding-left: 20px;
}
.ann>h3 {
    padding: 20px;

}
hr{
    margin: 5px;
    width: 90%;
    justify-content: center;
}
